.slider {
  &__item {
    position: relative;

    background-position: 50% 50%;
    background-size: cover;
  }

  &__overlay {
    @include abs-position;
  }

  &__title {
    color: $color-light;

    font-size: 1.75rem;
  }
}